<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styleEdit.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <h1 class="logo">ATN</h1>
                <ul class="menu-area">
                    <li><a href="/product">Home</a></li>
                    <li><a href="/product/insert">Insert Product</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="form-wrap">
        <form action="edit" enctype="multipart/form-data" method="POST">
            <h1>Edit Product</h1>
            <input type="hidden" name="id" value="{{product._id}}">
            Product Name : <input type="text" name="productName" value="{{product.ProductName}}">
            <br>
            Product Price : <input type="text" name="productPrice" id="" value="{{product.ProductPrice}}">
            <br>
            Product Image: <input type="file" name="picture" accept="image/*">
            <br>
            <input type="submit" value="Update">
        </form>
    </div>
</body>
</html>